<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | EPR Financial Feedback</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
    <h2>Feedback for Assigned Task</h2>
    <div  th:object="${task}" th:with="readonly='readonly'" >
        <div th:replace="task/view :: view-task"></div>
        <form class="form" th:object="${task}" th:action="@{/task/feedback/} + *{id}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Feedback:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="feedback"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit Feedback</button>
            </div>
        </form>
    </div>
</div>

</body>
<th:block th:include="fragments/footer :: footer"></th:block>
</html>

