<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | View All</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(tasks)}">
        <h2>Tasks List</h2>
        <table class="table table-striped">
            <tr>
                <!--<th>Id</th>-->
                <th>Sender</th>
                <!-- TODO STATUS! -->
                <th>Status</th>
                <th>Assigned To</th>
                <th>Event Name</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
            <tr th:each="task : ${tasks}" th:class="${currentId == task.id} ? 'success' : ''">
                <!--<td th:text="${epr.id}"><a href="/epr/${epr.id}">Id</a></td>-->
                <td th:text="${task.sender?.name}"></td>
                <td th:text="${task.status?.getDisplayName()}"></td>
                <td th:text="${task.assignedTo?.name}"></td>
                <td th:text="${task.epr?.name}"></td>
                <td th:text="${task.priority?.getDisplayName()}"></td>

                    <!-- TODo  -->
                <td>
                    <a th:href="${'/task/' + task.id}">View</a>
                    <div sec:authorize="hasRole(T(com.sep.common.UserRole).TEAM_MEMBER.name())">
                            <a th:if="${task.status == T(com.sep.domain.TaskStatus).OPEN}"
                               th:href="${'/task/feedback/' + task.id}">Submit Feedback</a>
                            <a th:if="${task.status == T(com.sep.domain.TaskStatus).FEEDBACK_SUBMITTED}"
                               th:href="${'/task/start/' + task.id}">Start</a>
                            <a th:if="${task.status == T(com.sep.domain.TaskStatus).IN_PROGRESS}"
                               th:href="${'/task/finish/' + task.id}">Finish</a>
                    </div>
                    <div sec:authorize="hasRole(T(com.sep.common.UserRole).TEAM_MEMBER.name())">
                        <a th:if="${task.status == T(com.sep.domain.TaskStatus).COMPLETED}"
                           th:href="${'/task/verify/' + task.id}">Verify</a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>