<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | View All</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(clients)}">
        <h2>Client List</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Events</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.name}">Name</td>
                <td>
                    <span th:each="epr, stat : ${client.eprs}" th:text="!${stat.last} ? ${epr.name} + ',' : ${epr.name}"></span>
                    <!--<span th:each="a, iterStat : ${client.eprs}" th:text="!{iterStat.last} ? ${a} + ',': ${a}"></span>-->
                    <i th:if="${#lists.isEmpty(client.eprs)}">No assigned events</i>
                </td>
                <td><a th:href="${ '/client/' + client.id}">View</a></td>
                <td><a th:href="${'/client/edit/' + client.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>