<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="alerts">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p><strong>Error!</strong> <span th:text="${error}"></span></p>
        <p th:if="${message}"><strong>Reason:</strong> <span th:text="${message}"></span></p>
    </div>
    <div th:if="${warning}" class="alert alert-warning" role="alert">
        <p><strong>Error!</strong> <span th:text="${warning}"></span></p>
        <p><strong>Reason:</strong> <span th:text="${message}"></span></p>
    </div>
    <div th:if="${info}" class="alert alert-info" role="alert">
        <p><strong>Info:</strong> <span th:text="${info}"></span></p>
        <p th:if="${message}"><strong>Reason:</strong> <span th:text="${message}"></span></p>
    </div>
    <div th:if="${param.loginError}" class="alert alert-danger" role="alert">
        <p><strong>Invalid credentials!</strong> Please try again.</p>
    </div>
    <div th:if="${param.logout}" class="alert alert-info" role="alert">
        <p><strong>Logged out:</strong> You have been logged out of the SEP web portal.</p>
    </div>

</div>

</body>
</html>