<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="navbar">
<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- TODO Access rights for each link! -->
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" href="../home.html">Swedish Event Planners</a>
        </div>
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Event Planning Request <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <th:block sec:authorize="hasRole(T(com.sep.common.UserRole).CUSTOMER_SERVICE.name())">
                            <li><a  th:href="@{/epr/create}" href="/epr/create">Create</a></li>
                        </th:block>
                        <li><a  th:href="@{/epr/list}" href="/epr/list">View All</a></li>
                    </ul>
                </li>
                <li class="dropdown" sec:authorize="hasAnyRole(T(com.sep.common.UserRole).CUSTOMER_SERVICE_MANAGER.name())">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Client Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li sec:authorize="hasRole(T(com.sep.common.UserRole).CUSTOMER_SERVICE_MANAGER.name())">
                                <a  th:href="@{/client/create}" href="/client/create">Create</a>
                            </li>
                            <li><a  th:href="@{/client/list}" href="/client/list">View All</a></li>
                        </ul>
                    </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Generate Client Report</a></li>
                        <li><a href="#">Generate Events Report</a></li>
                        <li><a href="#">Generate Employee Report</a></li>
                    </ul>
                </li>
                <li class="dropdown" sec:authorize="hasAnyRole(T(com.sep.common.UserRole).TEAM_MANAGER.name(), T(com.sep.common.UserRole).HR_MEMBER.name(), T(com.sep.common.UserRole).HR_MANAGER.name())">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Staff Management
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/staff/request/create}" href="/staff/request/create">Request Additional Staffing</a></li>
                        <li><a th:href="@{/staff/request/list}" href="/staff/request/list">View Staffing Requests</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Finance Management
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a  th:href="@{/finance/request/create}" href="/finance/request/create">Request Additional Budget</a></li>
                        <li><a  th:href="@{/finance/request/list}" href="/finance/request/list">View Budget Requests</a></li>
                    </ul>
                </li>
                <!-- TODO Services vs Production -->
                <li class="dropdown" sec:authorize="hasAnyRole(T(com.sep.common.UserRole).TEAM_MANAGER.name(), T(com.sep.common.UserRole).TEAM_MEMBER.name())">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Task Management
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole(T(com.sep.common.UserRole).TEAM_MANAGER.name())">
                            <a  th:href="@{/task/mgmt/create}" href="/task/mgmt/create">Create</a>
                        </li>
                        <li sec:authorize="hasRole(T(com.sep.common.UserRole).TEAM_MANAGER.name())">
                            <a th:href="@{/task/mgmt/listAll}" href="#">View All Tasks</a>
                        </li>
                        <li sec:authorize="hasRole(T(com.sep.common.UserRole).TEAM_MEMBER.name())">
                            <a th:href="@{/task/list}" href="#">View Assigned Tasks</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span sec:authentication="name">User
                        </span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="logout-item hidden" th:action="@{/logout}" method="post" id="logoutForm">
                                <input type="submit" id="logout" value="Sign Out"/>
                            </form>
                            <a href="#" onclick="document.getElementById('logoutForm').submit();">Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

    </div>
</div>
</div>

</body>
</html>