<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | Error</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <h2>Uh oh! An error has occurred :(</h2>
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
</div>
</body>
<th:block th:include="fragments/footer :: footer"></th:block>
</html>