<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | Home</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
    <h2>Welcome!</h2>
    <div sec:authorize="isAuthenticated()">
        <h3>Login Details</h3>
        Logged user: <span sec:authentication="name">Bob</span><br/>
        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    </div>

</div>
</body>
</html>