<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | View All</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(eprs)}">
        <h2>Event Planning Request List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>From</th>
                <th>To</th>
                <th>Client</th>
                <th>Description</th>
                <th>Budget</th>
                <th>Created By</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="epr : ${eprs}">
                <td th:text="${epr.id}"><a href="/epr/${epr.id}">Id</a></td>
                <td th:text="${epr.fromDate}">From</td>
                <td th:text="${epr.toDate}">Product Id</td>
                <td th:text="${epr.client?.getName()}">Client Name</td>
                <td th:text="${epr.description}">Description</td>
                <td th:text="${epr.budget}">Budget</td>
                <td th:text="${epr.creator?.name}">Created By</td>
                <td><a th:href="${ '/epr/' + epr.id}">View</a></td>
                <td><a th:href="${'/epr/edit/' + epr.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>