<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | View an EPR</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
    <h2>Event Planning Request Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Event Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${epr.name}">Event Processing Request Id</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${epr.description}">description</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Budget:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${epr.budget}">Budget</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">From:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${epr.fromDate}">From Date</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">To:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${epr.toDate}">To Date</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Client:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${epr.client?.getName()}">Client Name</p>
                </div>
            </div>
            <!--<a th:href="@{/epr/edit/} + ${epr.id}" class="btn btn-primary">Edit</a>-->
        </form>
        <h2>History</h2>
        <table class="table table-striped">
            <thead>
                <th>Modified By</th>
                <th>Date</th>
                <th>Field</th>
                <th>New Value</th>
            </thead>
            <tbody>
                <tr th:each="audit : ${epr.auditHistory}">
                    <td th:text="${audit.modifiedBy?.name}"></td>
                    <td th:text="${audit.modified}"></td>
                    <td th:text="${audit.field}"></td>
                    <td th:text="${audit.newValue}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<th:block th:include="fragments/footer :: footer"></th:block>
</html>