<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>SEP | View All Financial Requests</title>
    <!--/*/ <th:block th:include="fragments/header-inc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/alerts :: alerts"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(requests)}">
        <h2>Financial Requests</h2>
        <table class="table table-striped">
            <tr>
                <th>Requesting Department</th>
                <th>Required Amount</th>
                <th>Reason</th>
                <th>Project Reference</th>
                <th sec:authorize="hasAnyRole(T(com.sep.common.UserRole).FINANCIAL_MANAGER.name(),T(com.sep.common.UserRole).TEAM_MANAGER.name())">Actions</th>

            </tr>
            <!-- TODO Fix below -->
            <tr th:each="request : ${requests}" th:class="${currentId == request.id} ? 'success' : ''">
                <td th:text="${request.getRequestingDepartment().getDisplayName()}"></td>
                <td th:text="${request.projectReference}"></td>
                <td th:text="${request.requiredAmount}"></td>
                <td th:text="${request.reason}"></td>
                <td sec:authorize="hasAnyRole(T(com.sep.common.UserRole).FINANCIAL_MANAGER.name())">
                    <a th:if="${request.status == T(com.sep.domain.FinanceRequestStatus).OPEN}" th:href="@{/finance/request/start/} + ${request.id}" href="#">Start Progress</a>
                    <a th:if="${request.status != T(com.sep.domain.FinanceRequestStatus).CLOSED}"  th:href="@{/finance/request/close/} + ${request.id}" href="#">Close</a>
                    <a th:if="${request.status != T(com.sep.domain.FinanceRequestStatus).REJECTED}" th:href="@{/finance/request/reject/} + ${request.id}" href="#">Reject</a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>